* {
    margin: 0px;
}

header {
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: 15rem;
    background-color: rgb(75,158,254);
    height: 60px;
    line-height: 80px;    
}

#logo {
    height: 2rem;
    vertical-align: middle;
}

main {
    margin: 0.5rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1rem;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
}

h3 {
    font-size: 0.5rem;
    color: rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    color: rgb(75,158,254);
}

.adjust-width{
    max-width: 49%;
}

.content {
    margin-top: 1.5rem;
}

mark {
    background-color: yellow;
}

table {
    width: 100%;
    border-collapse: collapse;
}


th {
    color: white;
    font-size: 0.8rem;
    text-align: left;
    width: 10rem;
}

thead {
    background-color: rgb(66, 168, 228);
}

.w-50 {
    width: 50%;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(182, 229, 242);
}
footer {
    margin-top: 2rem;
}

footer img {
    width: 25%;
}

